{"openapi":"3.1.0","info":{"title":"Demo API","description":"Demo service","version":"1.2.0"},"servers":[{"url":"https://api.retrain.ai/","description":"Production"}],"paths":{"/api/v1/hello":{"get":{"summary":"Hello","operationId":"hello_api_v1_hello_get","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/error":{"get":{"summary":"Throw Error","operationId":"throw_error_api_v1_error_get","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}},"/api/v1/error_400":{"get":{"summary":"Throw Http 400 Error","operationId":"throw_http_400_error_api_v1_error_400_get","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/RequestModel"}}},"required":true},"responses":{"200":{"description":"Successful Response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ResponseModel"}}}},"422":{"description":"Validation Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HTTPValidationError"}}}}}}}},"components":{"schemas":{"HTTPValidationError":{"properties":{"detail":{"items":{"$ref":"#/components/schemas/ValidationError"},"type":"array","title":"Detail"}},"type":"object","title":"HTTPValidationError"},"RequestModel":{"properties":{"text":{"type":"string","title":"Text"}},"type":"object","required":["text"],"title":"RequestModel"},"ResponseModel":{"properties":{"text":{"type":"string","title":"Text"},"length":{"type":"integer","title":"Length"}},"type":"object","required":["text","length"],"title":"ResponseModel"},"ValidationError":{"properties":{"loc":{"items":{"anyOf":[{"type":"string"},{"type":"integer"}]},"type":"array","title":"Location"},"msg":{"type":"string","title":"Message"},"type":{"type":"string","title":"Error Type"}},"type":"object","required":["loc","msg","type"],"title":"ValidationError"}}}}